{{#if addNewPost}}
  <div class="new-post-form">
    <h2>New Post</h2>
    <form>
      <div class="form-group">
        <label for="author">Author (you)</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="imageURL">Image URL</label>
        {{input value=imageURL id="imageURL"}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="artist">Artist</label>
        {{input value=artist id="artist"}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input value=description id="description"}}
      </div>

      <div class="button-group">
        <button {{action 'savePost' post}}>Add Post</button>
        <button {{action 'postFormHide'}}>Nevermind</button>
      </div>
    </form>
  </div>

{{else}}
  <button id="new-post" {{action 'postFormShow'}}>+</button>
{{/if}}
