<div class="post-detail">
  <img src={{post.imageURL}} alt={{post.title}}>
  <p class="description">{{post.description}}</p>
  <p class="author">Uploaded by {{post.author}}</p>

  <div class="comments">
    <h4>Comments</h4>
    {{#if post.comments}}
      {{#each post.comments as |comment|}}
        {{comment-tile comment=comment destroyComment="destroyComment"}}
      {{/each}}
      {{else}}
        <p>No Comments (yet)</p>
      {{/if}}
  </div>

  {{update-post post=post update="update"}}

  <button {{action 'delete' post}}>Delete</button>


</div>
